#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_Rubbled += debian/examples/*
DEB_INSTALL_MANPAGES_Rubbled += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix Rubbled USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f Rubble-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake Rubble-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/Rubbled:
	chmod +x $(cdbs_curdestdir)usr/bin/Rubbled
binary-post-install/Rubble-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/Rubble-qt
